::selection {
    background-color: #7dd3fc;
    color: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    overflow-x: hidden;
    background: #0d1014;
}

/* .binary-bg {
    display: flex;
    justify-content: center;
    width: 100.5%;
    height: 150vh;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.4;
    color: #1e293b;
    opacity: 1;
    pointer-events: none;
} */

/************************************** NAVBAR **************************************/

nav {
    height: 74px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #0d1014;
    font-size: 16px;
    position: fixed;
    top: 0;
    left: 0;
    border-bottom: 1px solid #2b2f38;
    z-index: 9999;
}

.nav-links {
    display: flex;
    height: 80%;
    gap: 4px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}

.nav-link,
.drop-down li {
    list-style: none;
    height: 100%;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
}

.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon a {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
    height: 100%;
}

.nav-icon img {
    height: 24px;
    margin-top: 6px;
}

.nav-icon h1 {
    font-size: 20px;
    color: #d4d4d4;
    margin-top: 2px;
}

.nav-link a {
    text-decoration: none;
    color: #d4d4d4;
}

.drop-link {
    position: relative;
    border: 1px solid #0d1014;
}

.drop-link:hover {
    border-top: 1px solid #2b2f38;
    border-left: 1px solid #2b2f38;
    border-right: 1px solid #2b2f38;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.drop-link:hover .drop-down {
    display: block;
}

.drop-link a {
    display: flex;
    align-items: center;
}

.drop-link .dropdown-icon {
    font-size: 18px;
    position: relative;
    right: -2px;
    translate: 0 1px;
    transition: 0.3s ease-in-out all;
}

.drop-link:hover {
    z-index: 999;
}

.drop-link:hover .dropdown-icon {
    rotate: 180deg;
    translate: 0 -1px;
}

.drop-down {
    position: absolute;
    left: -1px;
    bottom: -52px;
    width: 180px;
    padding: 6px;
    background: #0d1014;
    color: #d4d4d4;
    font-size: 14px;
    display: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 1px solid #2b2f38;
    border-left: 1px solid #2b2f38;
    border-right: 1px solid #2b2f38;
}

.drop-down::before {
    content: '';
    position: absolute;
    top: 0;
    left: 97px;
    width: 82px;
    height: 1px;
    background-color: #2b2f38;
}

.drop-link.docs .drop-down {
    left: -1px;
    bottom: -130px;
}

.drop-link.docs .drop-down::before {
    top: 0;
    left: 71px;
    width: 108px;
}

.drop-link.resources .drop-down {
    left: -1px;
    bottom: -92px;
}

.drop-link.resources .drop-down::before {
    top: 0;
    left: 108px;
    width: 70px;
}

.drop-down li {
    padding: 10px;
}

.drop-down li:hover {
    background-color: #414141;
    border-radius: 6px;
}

.down-theme-search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.down-theme-search i {
    color: #d4d4d4;
    font-size: 20px;
    /* margin: 5px; */
    padding: 6px;
    border-radius: 4px;
}

.down-theme-search i:hover {
    background-color: #414141;
}

.down-theme-search button {
    padding: 8px 16px;
    background-color: #007ACC;
    border: none;
    border-radius: 4px;
    color: #e2e2e2;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-right: 10px;
}

/************************************** MAIN **************************************/

main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 1000px;
    background-image: url(./assets/main-bg-dark.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-color: red; */
    margin-top: 70px;
    color: #e2e2e2;
}

main h2 {
    position: absolute;
    top: 40px;
    font-size: 60px;
}

main h3 {
    position: absolute;
    top: 130px;
    font-size: 28px;
}

.download-container {
    position: absolute;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0d1014;
    padding: 18px;
    border-radius: 12px;
    gap: 18px;
}

.download-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 36px;
    border: none;
    gap: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 8px;
    outline: 3px solid transparent;
    outline-offset: 0px;
    transition: all 0.3s ease;
}

.download-container button:hover {
    outline: 2px solid #e2e2e2;
    outline-offset: 5px;
}

.download-container button i {
    font-size: 24px;
}

.download-container p {
    color: #e2e2e2;
    font-size: 13px;
}

.download-container p a {
    color: #e2e2e2;
}

.download-container p:nth-child(3) {
    font-size: 11px;
}

main img {
    position: absolute;
    top: 390px;
    height: 564px;
    width: 856px;
    border-radius: 10px;
}

/************************************** AGENTS **************************************/

.agents-info-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
}

.agents-info {
    margin-right: 80px;
    width: 320px;
}

.agents-info h2 {
    color: #e2e2e2;
    font-size: 30px;
    margin: 12px 0;
    font-weight: 500;
}

.agents-info p {
    color: #889cb8;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.agents-info a {
    color: #38bdf8;
    font-size: 16px;
    font-weight: 600;
}

.agents-info a:hover {
    text-decoration-color: #8fc3fe;
}

.agents img {
    border-radius: 10px;
}

.agents-card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 120px 20px;
    gap: 50px;
}

.agents-card {
    height: 340px;
    width: 326px;
    border: 1px solid #333539;
    background-color: #16191d;
    border-radius: 10px;
    padding: 20px;
}

.agents-card h3 {
    font-size: 22px;
    color: #e2e2e2;
    margin-bottom: 16px;
    font-weight: 500;
}

.agents-card p {
    color: #889cb8;
    font-size: 16px;
    font-weight: 500;
}

.ai-agents-container {
    padding: 30px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ai-agents-card {
    background: url(./assets/ai-agents-img.webp);
    background-size: cover;
    height: 180px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 25px;
    border: 1px solid #ffffff1f;
    border-radius: 8px;
    margin-bottom: 30px;
}

.ai-agents-card h3 {
    color: #e2e2e2;
    font-size: 26px;
    font-weight: 500;
}

.ai-agents-text p {
    color: #e2e2e2;
    font-weight: 500;
    font-size: 17px;
    margin: 10px 0;
}

.ai-agents-text button {
    border: 1px solid #333539;
    background-color: #16191d;
    border-radius: 4px;
    padding: 6px 14px;
    color: #e2e2e2;
    margin: 10px 0;
    font-size: 16px;
}

/************************************** EDITOR **************************************/

.editor {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px;
}

.editor-info {
    margin-right: 80px;
    width: 320px;
}

.editor-info h3 {
    color: #e2e2e2;
    font-size: 30px;
    margin: 12px 0;
    font-weight: 500;
}

.editor-info p {
    color: #889cb8;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.editor-info a {
    color: #38bdf8;
    font-size: 16px;
    font-weight: 600;
}

.editor-info a:hover {
    text-decoration-color: #8fc3fe;
}

.editor img {
    border-radius: 10px;
}

/************************************** EXTENSIONS **************************************/

.extensions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.extensions-info {
    padding: 30px 50px 30px 100px;
    margin-bottom: 80px;
    /* margin-left: 100px; */
}

.extensions-info h3 {
    color: #e2e2e2;
    font-size: 30px;
    margin: 12px 0;
    font-weight: 500;
}

.extensions-info p {
    color: #889cb8;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.extensions-info a {
    color: #38bdf8;
    font-size: 16px;
    font-weight: 600;
}

.extensions-info a:hover {
    text-decoration-color: #8fc3fe;
}

.extensions-grid {
    display: grid;
    grid-template: repeat(3, 120px)/repeat(3, 240px);
    gap: 10px;
    padding: 30px 100px 30px 50px;
}

.grid-card {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    gap: 10px;
    background-color: #16191d;
    border: 1px solid #2b2f38;
    padding: 16px 20px;
    border-radius: 10px;
    text-decoration: none;
}

.grid-card:hover {
    border: 1px solid #414141;
}

.grid-card img {
    height: 50%;
    margin-bottom: 20px;
}

.card-info h4 {
    color: #e2e2e2;
    font-size: 17px;
}

.card-info p.card-para {
    font-size: 14px;
    color: #889cb8;
    font-weight: 500;
}

.extensions-grid>p {
    color: #e2e2e2;
    font-size: 14px;
    width: 740px;
    text-align: center;
    font-weight: 500;
    margin: 20px;
}

.extensions-grid>p a {
    color: #7dd3fc;
}

.extensions-grid>p a:hover {
    text-decoration-color: #8fc3fe;
}

/************************************** LANGUAGE **************************************/

.language {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.language-info {
    padding: 30px 50px 30px 100px;
}

.language-info h3 {
    color: #e2e2e2;
    font-size: 30px;
    margin: 12px 0;
    font-weight: 500;
}

.language-info p {
    color: #889cb8;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.language-grid {
    display: grid;
    grid-template: repeat(4, 40px)/repeat(3, 240px);
    gap: 10px;
    padding: 30px 100px 30px 50px;
}

.language-card {
    display: flex;
    align-items: center;
}

.language-card img {
    height: 100%;
}

.language-card p {
    color: #e2e2e2;
    font-family: 'Consolas';
}

/************************************** CUSTOMIZABLE **************************************/

.customizable {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.customizable-info {
    margin-right: 80px;
    width: 320px;
}

.customizable-info h3 {
    color: #e2e2e2;
    font-size: 30px;
    margin: 12px 0;
    font-weight: 500;
}

.customizable-info p {
    color: #889cb8;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.customizable-info a {
    color: #38bdf8;
    font-size: 16px;
    font-weight: 600;
}

.customizable-info a:hover {
    text-decoration-color: #8fc3fe;
}

.customizable img {
    border-radius: 10px;
}

/************************************** CODE ANYWHERE **************************************/

.code-anywhere {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
}

.code-anywhere-info {
    margin-right: 80px;
    width: 320px;
}

.code-anywhere-info h3 {
    color: #e2e2e2;
    font-size: 30px;
    margin: 12px 0;
    font-weight: 500;
}

.code-anywhere-info p {
    color: #889cb8;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
}

.code-anywhere-info a {
    color: #38bdf8;
    font-size: 16px;
    font-weight: 600;
}

.code-anywhere-info a:hover {
    text-decoration-color: #8fc3fe;
}

.code-anywhere img {
    border-radius: 10px;
}